// Thanks to Osvaldas Valutis for the styling ideas and approach to hiding the standard file chooser.
// https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 2em;
  color: white;
  background-color: #0B9444;
  display: inline-block;
  cursor: pointer;
  width: 25%;
  border-radius: 4px;
}

.inputfile + label:hover {
  background-color: white;
  color: green;
  border: 1px solid #0B9444;
}
