// Thanks to Osvaldas Valutis for the styling ideas and approach to hiding the standard file chooser.
// https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  width: 35%;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
